<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CovAid</title>
    <link rel="icon" href="/img/3.png" type="image/icon type" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-W9GK68F");
    </script>
    <!-- End Google Tag Manager -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W9GK68F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header -->
    <header id="header">
      <nav class="navbar">
        <div class="nav-logo">
          <a href="/">
            <img src="/img/1.png" alt="Logo" class="image" />
          </a>
        </div>

        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/helpline" class="text-heading">Helpline</a>
          </li>

          <li class="nav-item">
            <a href="/helplinelink" class="text-heading"
              >Useful Links</a
            >
          </li> 
        </ul>
      </nav>
    </header>
    <!-- /Header -->

<main class="container mt-5"> 
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%=err.message%></h4>
                <p><%= err.stack %></p>
            </div>
        </div>
    </div>
</main>

<img src="/img/404.jpg" alt="Logo" class="img-responsive" />

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->
