<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main site -->
<main id="site-main">
  <div class="container">
    <div>
      Please reach out to these helpline nos. for any query related to COVID-19.
      <button class="collapsible">Central Helpline No.</button>
      <div class="content">
        <p>
          +91-11-23978046
        </p>
      </div>
      <button class="collapsible">Andhra Pradesh</button>
      <div class="content">
        <p>0866-2410978</p>
      </div>

      <button class="collapsible">Andaman and Nicobar
        Islands</button>
      <div class="content">
        <p>03192-232102</p>
      </div>
      <button class="collapsible">Arunachal Pradesh</button>
      <div class="content">
        <p>
          9436055743
        </p>
      </div>
      <button class="collapsible">Assam</button>
      <div class="content">
        <p>
          6913347770
        </p>
      </div>
      <button class="collapsible">Bihar </button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Chandigarh</button>
      <div class="content">
        <p>
          9779558282
        </p>
      </div>
      <button class="collapsible">Chhattisgarh</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Dadra and Nagar Haveli</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Daman & Diu</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Delhi</button>
      <div class="content">
        <p>
          011-22307145
        </p>
      </div>
      <button class="collapsible">Gujarat</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Haryana</button>
      <div class="content">
        <p>
          8558893911
        </p>
      </div>
      <button class="collapsible">Himachal Pradesh</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Jammu & Kashmir</button>
      <div class="content">
        <p>
          01912520982, 0194-2440283
        </p>
      </div>
      <button class="collapsible">Jharkhand</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Karnataka</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Kerala</button>
      <div class="content">
        <p>
          0471-2552056
        </p>
      </div>
      <button class="collapsible">Ladakh</button>
      <div class="content">
        <p>
          01982256462
        </p>
      </div>
      <button class="collapsible">Lakshadweep </button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Puducherry</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Madhya Pradesh</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Maharashtra</button>
      <div class="content">
        <p>
          020-26127394
        </p>
      </div>
      <button class="collapsible">Meghalaya</button>
      <div class="content">
        <p>
          108
        </p>
      </div>
      <button class="collapsible">Mizoram</button>
      <div class="content">
        <p>
          102
        </p>
      </div>
      <button class="collapsible">Nagaland</button>
      <div class="content">
        <p>
          7005539653
        </p>
      </div>
      <button class="collapsible">Odisha</button>
      <div class="content">
        <p>
          9439994859
        </p>
      </div>
      <button class="collapsible">Punjab</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Rajasthan</button>
      <div class="content">
        <p>
          0141-2225624
        </p>
      </div>
      <button class="collapsible">Sikkim</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Tamil Nadu</button>
      <div class="content">
        <p>
          044-29510500
        </p>
      </div>
      <button class="collapsible">Telangana</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Tripura</button>
      <div class="content">
        <p>
          0381-2315879
        </p>
      </div>
      <button class="collapsible">Uttarakhand</button>
      <div class="content">
        <p>
          104
        </p>
      </div>
      <button class="collapsible">Uttar Pradesh</button>
      <div class="content">
        <p>
          18001805145
        </p>
      </div>
      <button class="collapsible">West Bengal</button>
      <div class="content">
        <p>
          1800313444222, 03323412600
        </p>
      </div>
      
    </div>
  </div>
</main>
<!-- /Main site -->
<script>
    //   function collapse() {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            });
        }
    // }
</script>
<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->
