<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main site -->
<main id="site-main">
  <div class="container">
    <div class="h2">Helpline Contacts</div>
    <div class="h4">
      Please reach out to these helpline nos. for any query related to
      COVID-19.
    </div>

      <div class="container roww">
        <% for(var j=0;j<helpline.length;j++) {%>
            <div class="col-sm-3 col-xs-12 button-box">
              <button class="collapsible"><%=helpline[j].state%></button>
              <div class="content">Number: <strong><%=helpline[j].number%></strong></div>
            </div>
        <%}%>
      </div>
  </div>
</main>
<!-- /Main site -->
<script>
  //   function collapse() {
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  // }
</script>
<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->
