<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main site -->
<main id="site-main">
    <div class="container">
        <h3 class="title">Heading</h4>
        <h4 class="description-title">Heading of Link</h4>
        <div>Link: 
        <a href="covaid-india.herokuapp.com" class="h5 helpline-link">covaid-india.herokuapp.com</a>
        </div>
        <h5 class="description">Description</h5>

        <h4 class="description-title">Heading of Link</h4>
        <div>Link: 
            <a href="covaid-india.herokuapp.com" class="h5 helpline-link">covaid-india.herokuapp.com</a>
        </div>
        <h5 class="description">Description</h5>

        <h4 class="description-title">Heading of Link</h4>
        <div>Link: 
        <a href="covaid-india.herokuapp.com" class="h5 helpline-link">covaid-india.herokuapp.com</a>
        </div>
        <h5 class="description">Description</h5>

        <h3 class="title">Heading</h3>
        <h4 class="description-title">Heading of Link</h4>
        <div>Link: 
        <a href="covaid-india.herokuapp.com" class="h5 helpline-link">covaid-india.herokuapp.com</a>
        </div>
        <h5 class="description">Description</h5>
    </div>

</main>

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->