<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main site -->
<main id="site-main">
    <div class="container">
        <h4>Heading</h4>
        <a href="covaid-india.herokumain.com">covaid-india.herokumain.com</a>
        <h6>Description</h6>
    </div>

</main>

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->