<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main site -->
<main id="site-main">
    <div class="container">
        <h3 class="title">Twitter resources</h4>
        <!-- <h4 class="description-title">Heading of Link</h4> -->
        <div>Link: 
            <a href="https://covid19-twitter.in/" class="h5 helpline-link">covid19-twitter.in</a>
        </div>
        <div>Link: 
            <a href="https://external.sprinklr.com/insights/explorer/dashboard/601b9e214c7a6b689d76f493/tab/19?id=DASHBOARD_601b9e214c7a6b689d76f493&tabId=19&home=1
            " class="h5 helpline-link">external.sprinklr.com</a>
        </div>
        <div>Link: 
            <a href="https://life.coronasafe.network/" class="h5 helpline-link">life.coronasafe.network</a>
        </div>        
        <h5 class="description">These websites use the twitter API to fetch latest verified tweets about mentioned resources at different locations of India. Easy UI helps you to create a twitter query depending upon your needs and the twitter result is displayed back.</h5> 

        <h3 class="title">Resource/Leads accumulator</h3>
        <div>Link: 
            <a href="https://www.covidindiaresources.com/" class="h5 helpline-link">covidindiaresources.com</a>
        </div>
        <div>Link: 
            <a href="https://www.covidresourceindia.com/" class="h5 helpline-link">covidresourceindia.com</a>
        </div>
        <div>Link: 
            <a href="https://covidfightclub.org/" class="h5 helpline-link">covidfightclub.org</a>
        </div>
        <div>Link: 
            <a href="https://covidresource.glideapp.io/" class="h5 helpline-link">covidresource.glideapp.io</a>
        </div>
        <h5 class="description">These websites much like ours have taken leads across different social media platforms and displayed it on their portal for easy access. Some of these have quite a large database with lots of verified leads about resources like oxygen, beds, medicines, plamsa etc. </h5> 


        <h3 class="title">Plasma Resources</h3>
        <div>Link: 
            <a href="https://covidplasma.online/" class="h5 helpline-link">covidplasma.online</a>
        </div>
        <div>Link: 
            <a href="https://www.dhoondh.com/" class="h5 helpline-link">www.dhoondh.com</a>
        </div>
        <div>Link: 
            <a href="https://needplasma.in/" class="h5 helpline-link">needplasma.in</a>
        </div>
        <h5 class="description">These websites aim to connect patient in need with plasma donors across India. The first link is the one stop destination for all plasma related resources around. If you have recovered from COVID, please donate plasma!</h5> 


        <h3 class="title">Other useful resources</h3>
        <div>Link: 
            <a href="http://wa.me/12345178991?text=COVID" class="h5 helpline-link">Chatbot covid</a>
            Use this to interact with a chatbot to fetch latest updated resources. Add/Update your sources as well.
        </div>
        <div>Link: 
            <a href="https://www.digit.in/news/general/online-covid-19-resources-hospital-beds-medicines-oxygen-supply-59297.html" class="h5 helpline-link">Bed tracking</a>
            State wise corona bed tracking. A collection of other very useful links as well. 
        </div>
        <div>Link: 
            <a href="https://www.covid19india.org/resources" class="h5 helpline-link">covid19india.org</a>
            Corpus of multiple aggregators. Contains many sheets with updated resources for both local/national use. 
        </div>
        <div>Link: 
            <a href="https://www.investindia.gov.in/bip/resources/list-ngos-providing-relief-during-covid-19" class="h5 helpline-link">NGOs</a>
            A list of NGOs helping India fight back. Please donate if you can!
        </div>
        <div>Link: 
            <a href="https://hemkuntfoundation.com/causes/oxygen-cylinder/" class="h5 helpline-link">Hemkunt foundation</a>
            Another such NGO at the helm of helping India breathe. Connect with them for oxygen cylinders here.
        </div>
        <div>Link: 
            <a href="https://www.covid19india.org/" class="h5 helpline-link">needplasma.in</a>
            Daily update of all corona stats across India. All details about no. of patients, vaccination can be found here. 
        </div>
        <div>Link: 
            <a href="https://www.cowin.gov.in/home" class="h5 helpline-link">cowin.gov.in</a>
            Find your nearest center, book your slots and get vaccinated. Let's fight COVID. 
        </div>

    </div>

</main>

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->
