<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main site -->
<main id="site-main">
    <div class="container ">
       <!-- <div class="btn btn-outline-primary button">
           <a href="/add-user" class="border-shadow">
               <span class="text-gradient">New User <i class="fas fa-user"></i></span>
           </a>
       </div> -->

       <div class="h1">
           Oxygen Suppliers
       </div>
       <div class="h3">Update the availability of the Oxygen by clicking on the update button.</div>
       <!-- form handling -->
       <form action="/" method="POST">
       <div class="">
               <div class="row">
            <%- include('include/_show')%>
                </div>
        </div>
    </form>
    </div>
</main>
<!-- /Main site -->

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->