<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>

<footer class="footer">
    <div class=" container footer-paragraph">
        Our aim is to help India fight this pandemic by connecting patients with the oxygen suppliers. This website is developed solely for charitable and non-profit initiative. Please reach out to us at teamcovaid@gmail.com to add any supplier. 
    </div>

    <!-- <div class="footer-heading">
        The team:
    </div>
    <div class="container">
        <div class="row footer-name h5">

            <a href="https://www.linkedin.com/in/vaishnavi-kotturu-073a3a192/" class="footer-text col-sm-2">
                Vaishnavi Kotturu
            </a>

            <a href="https://www.linkedin.com/in/gupta-khushi/" class="footer-text col-sm-2">
                Khushi Gupta
            </a>

            <a href="https://www.linkedin.com/in/utkarsh17/" class="footer-text col-sm-2">
                Kumar Utkarsh
            </a>

            <a href="https://www.linkedin.com/in/manraj-singh-bhatia-9b41ba178/" class="footer-text col-sm-2">
                Manraj Singh Bhatia
            </a>

            <a href="https://www.linkedin.com/in/mudra-surana-0a7083148/" class="footer-text col-sm-2">
                Mudra Surana
            </a>

            <a href="https://www.linkedin.com/in/lakshay-nagpal-900b56155/" class="footer-text col-sm-2">
                Lakshay Nagpal
            </a>
        </div>
    </div> -->
</footer>
</body>
</html>