<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CovAid</title>
    <link rel="icon" href="/img/3.png" type="image/icon type" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-W9GK68F");
    </script>
    <!-- End Google Tag Manager -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W9GK68F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header -->
    <header id="header">
      <nav class="roww">
        <div class="nav-innerbox nav-items logo col-sm-3">
          <a href="/">
            <img src="/img/1.png" alt="Logo" class="image col-sm-6" />
          </a>
        </div>
        <div class="search col-sm-6">
              <input type="text" name="city" id="name" list="cityname" autocomplete="off" placeholder="Select your City" class="searchbar">
              <datalist id="cityname">
                <!-- <option value="Ahmedabad">
                <option value="Amritsar">
                <option value="Chandigarh">
                <option value="Delhi">
                <option value="Gurugram">
                <option value="Hyderabad">
                <option value="Indore">
                <option value="Kanpur">
                <option value="Lucknow">
                <option value="Mumbai">
                <option value="Pune"> -->
                
                <!-- <% for(var i=0;i<cities.length;i++) {%>
                  <option value="<%=cities[i].city%>">
                <%}%> -->

                <% cities.forEach(function(city){ %>
                  <!-- <% console.log(city); %> -->
                  <option value="<%= city %>">
                <% }) %>

              </datalist>
              <a href="" id="my_anchor">
                <button type="submit" class="btn btn-outline-primary button" onclick=' document.getElementById( "my_anchor" ).href = "/filter-city?city=" + document.getElementById("name").value'><i class="fas fa-search"></i></button>
              </a>
            <!-- </form> -->
        </div>
        <a
          href="/helpline"
          class="container nav-innerbox nav-items text-heading col-sm-3"
        >
          Helpline
        </a>
      </nav>
    </header>
    <!-- /Header -->
  </body>
</html>
