/* @import url("https://fonts.googleapis.com/css2?family=Barlow:ital@1&family=PT+Sans&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/* :root {
  --dark: #310c0c;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: "Oxygen", sans-serif;
  color: #0a0a0a;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.roww {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  align-items: center;
}

#site-main {
  background-color: #dedbcf69;
  padding-bottom: 3em;
}

.heading {
  /* font-family: "Roboto"; */
  font-size: large;
  font-weight: bold;
}

.box {
  /* border: 1px solid #ffe992; */
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0.25rem 0.1rem rgb(0 0 0 / 15%);
  height: fit-content;
}

.color {
  color: #0a0a0a;
}

.outerbox {
  padding: 10px;
}
.innerbox {
  padding: 10px;
  display: flex;
  /* flex-wrap: wrap; */
}

.btn-outline-primary {
  border: 1px solid #0a0a0a;
  color: #0a0a0a;
}

#header nav {
  background-color: #ffe992;
  padding: 0.5em;
  width: 100%;
  /* height: 54.61px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.container::before {
  content: none;
}
.container::after {
  content: none;
}
/* a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
} */

.text-heading {
  color: #0a0a0a;
  text-decoration: none !important;
  font-size: 1.25em;
  font-weight: bold;
  padding-right: 1em;
}
.text-heading:hover {
  color: #0a0a0a;
  text-decoration: none !important;
}

.button {
  margin-bottom: 0;
  margin-left: 0;
  align-items: flex-end;
  background-color: #ffffff;
}

.button:active {
  background-color: #ffe992;
}

.button:hover {
  background-color: #ffe992;
  text-decoration-line: none;
}

.text-button {
  text-decoration: none;
}

.items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0;
}
.availability {
  font-size: large;
  /* font-weight: normal; */
  color: #018312;
}

.text-lighter {
  font-weight: normal;
}

.input-box {
  border: 1px solid #ffe992;
  padding: 3px 6px;
}

.availability-box {
  text-align: center;
  padding: 40px 0 10px 0;
  margin-bottom: 0;
  font-size: large;
}

.save-box {
  text-align: center;
}
/* .timestamp {
  padding-top: 5px;
} */

.h2 {
  padding: 15px 0 0 0;
  margin-top: 0;
  font-weight: bolder;
}

.h4 {
  padding: 0 0 10px 0;
}
.items-2 {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  flex: 3 1 0;
}

.image {
  width: 150px;
  height: 33.1px;
  object-fit: contain;
  background-color: #ffe992;
}

.nav-innerbox {
  display: flex;
  /* padding-right: 50px; */
}

.nav-items {
  align-items: center;
  /* background-color: #b1a16a; */
  justify-content: flex-end;
}

/* #my_anchor {
  border: 1px solid #ffffff;
} */

.search {
  /* align-items: center; */
  display: flex;

  position: relative;
  /* display: flex; */
  flex-wrap: nowrap;
  align-items: center;
  /* width: 100%; */
}

.searchbar {
  border-radius: 2px;
  border: 1px solid #000000;
  height: 100%;
  /* font-size: large; */
  padding: 7px 2px;
  flex: 2 1 auto;
}
.logo {
  justify-content: flex-start;
}
.box-nav {
  padding-top: 2em;
}
#header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0.1px 1px 10px #fffbed;
}

.footer {
  background-color: #ffffff;
}

.footer-name {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #ffe992;
  padding: 0 20px;
}

.footer-name:hover {
  color: #0a0a0a;
  text-decoration: none !important;
}

.footer-text {
  color: #0a0a0a;
  display: flex;
  text-decoration: none !important;
}

.footer-heading {
  color: #0a0a0a;
  display: flex;
  justify-content: center;
  padding: 1em 0 0 0;
}

.footer-paragraph {
  color: #0a0a0a;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  font-size: large;
}

.collapsible {
  background-color: #ffffff;
  color: #0a0a0a;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid #ffe992; */
  border: none;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.1rem rgb(0 0 0 / 15%);
}

.collapsible-box:active {
  background-color: #ffffff;
}

.collapsible:hover {
  background-color: #ffe992;
}

.content {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.1rem rgb(0 0 0 / 15%);
}

.button-box {
  padding: 20px 10px;
}
.divide {
  display: flex;
  flex-wrap: wrap;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  padding: 18px;
  background-color: #f1f1f1;
}

.new-user {
  padding-top: 30px;
  max-width: 60%;
}

.form-element {
  padding-bottom: 5px;
}

.form-button {
  width: 40%;
  padding: 10px;
  background-color: #ffe992;
}

.form-button:hover {
  background-color: #ffffff;
}

.form-control {
  max-width: 100%;
  padding: 0.6em 1em;
  border: 1px solid var(--border);
  border-radius: 0.2em;
  box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 15%);
}

.filter {
  padding-top: 20px;
}

.availability-button {
  margin-right: 10px;
}

.h5 {
  margin-top: 0;
}

.title {
  font-weight: bold;
  margin-top: 0px;
  padding-top: 15px;
  border-top: 2px solid #ffffff;
}

.helpline-link {
  font-weight: bold;
  color: #383a8e;
}

.description {
  padding-bottom: 10px;
  /* border-bottom: 1px solid #000000; */
}

.description-title {
  color: #6f6f6f;
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* .topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */
/* 
.topnav a:hover {
  background-color: #b39800;
  color: black;
} */

.topnav a.active {
  background-color: #b39800;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  /* margin-top: 8px; */
  font-size: 17px;
  /* border: none; */
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(139, 137, 0);
  font-size: 17px;
  /* border: none; */
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: rgb(163, 125, 0);
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
/* justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.border-shadow {
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark {
  color: var(--dark);
}

.inline {
  display: inline-block;
}

.text-light {
  color: var(--light);
}

.text-gradient {
  background: linear-gradient(to right, #e22d2d, #e00000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



#site-main {
  margin-top: 6em;
  font-family: "Barlow", sans-serif;
}

#site-main .container .box-nav > a {
  font-size: 1em;
  padding: 0.5em 1em;
}

#site-main .container form {
  margin: 2em 0;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.table td,
.table th {
  padding: 0.75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table td > a.btn {
  padding: 0.3em 1em;
  font-size: 1.1em;
  margin: 0 0.2em;
}

.table tr:hover {
  background-color: #fac1c1;
}

.table tr:hover td > a {
  box-shadow: none;
}

.table .thead-dark th {
  color: #fff;
  background-color: var(--dark);
  border-color: #32383e;
}

@media only screen and (max-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--border);
  }

  td {
    border: none;
    position: relative;
  }
}

/*  add user & update user template */
/* .form-title {
  margin-top: 2em;
}

.form-title > h2 {
  padding: 0.5em 0;
}

.new_user {
  max-width: 786px;
  margin: auto;
}

#update_user .form-group,
#add_user .form-group {
  margin: 0.4em 0;
}

#update_user .form-group input[type="text"],
#update_user .form-group input[type="tel"],
#update_user .form-group select,
#add_user .form-group select,
#add_user .form-group input[type="tel"],
#add_user .form-group input[type="text"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio {
  margin: 1em 2em;
}
/* adding style to radio buttons */
/* .radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: var(--border-btn);
  border-radius: 100%;
  border: 1px solid var(--border);
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: -0em;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #fac1c1;
  box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #fac1c1;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #e9ecef;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio-inline {
  display: inline;
  padding: 0 2rem 0 2rem;
}
#update_user .form-group .btn,
#add_user .form-group .btn {
  width: 100%;
  padding: 0.9em 1em;
  background-color: #fac1c1;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.2em;
  margin: 0.5em 0;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover {
  background-color: var(--dark);
  color: var(--border);
} */
