/* @import url("https://fonts.googleapis.com/css2?family=Barlow:ital@1&family=PT+Sans&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/* :root {
  --dark: #310c0c;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  color: #0a0a0a;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#site-main {
  background-color: #f2efe8;
  padding-bottom: 3em;
}

.heading {
  /* font-family: "Roboto"; */
  font-size: large;
  font-weight: bold;
}
.details {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.box {
  /* border: 1px solid #ffc600; */
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0.25rem 0.1rem rgb(0 0 0 / 15%);
  height: fit-content;
}

.color {
  color: #0a0a0a;
}

.outerbox {
  padding: 10px;
}
.innerbox {
  padding: 10px;
  display: flex;
  /* flex-wrap: wrap; */
}

.btn-outline-primary {
  border: 1px solid #ffc600;
  color: #0a0a0a;
}

#header nav {
  background-color: #ffc600;
  padding: 0.75em 0;
  width: 100%;
  height: 54.61px;
}

.container::before {
  content: none;
}
.container::after {
  content: none;
}
/* a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
} */

.text-heading {
  color: #0a0a0a;
  text-decoration: none !important;
  display: flex;
  padding-right: 150px;
  font-size: 1.5em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.text-heading:hover {
  color: #0a0a0a;
  text-decoration: none !important;
}

.button {
  margin-bottom: 0;
  margin-left: 0;
  align-items: flex-end;
  background-color: #ffffff;
}

.button:active {
  background-color: #ffc600;
}

.button:hover {
  background-color: #ffc600;
  text-decoration-line: none;
}

.text-button {
  text-decoration: none;
}

.items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0;
}
.availability {
  font-size: large;
  font-weight: bold;
  color: #018312;
}

.input-box {
  border: 1px solid #ffc600;
  padding: 3px 6px;
}

.availability-box {
  text-align: center;
  padding: 20px 0 10px 0;
  margin-bottom: 0;
  font-size: large;
}

.save-box {
  text-align: center;
}
/* .timestamp {
  padding-top: 5px;
} */

.h2 {
  padding: 10px 0 10px 0;
  margin-top: 0;
}

.items-2 {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  flex: 3 1 0;
}

.image {
  width: 150px;
  object-fit: contain;
  padding-left: 50px;
  background-color: #ffc600;
}

.nav-innerbox {
  display: flex;
}

.nav-items {
  align-items: center;
  background-color: #ffc600;
}

.box-nav {
  padding-top: 2em;
}
#header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.footer {
  background-color: #ffffff;
}

.footer-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #ffc600;
  padding: 0 20px;
}

.footer-name:hover {
  color: #0a0a0a;
  text-decoration: none !important;
}

.footer-text {
  color: #0a0a0a;
  display: flex;
  text-decoration: none !important;
}

.footer-heading {
  color: #0a0a0a;
  display: flex;
  justify-content: center;
  padding: 1em 0 0 0;
}

.footer-paragraph {
  color: #0a0a0a;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  text-align: center;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* .d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.border-shadow {
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark {
  color: var(--dark);
}

.inline {
  display: inline-block;
}

.text-light {
  color: var(--light);
}

.text-gradient {
  background: linear-gradient(to right, #e22d2d, #e00000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



#site-main {
  margin-top: 6em;
  font-family: "Barlow", sans-serif;
}

#site-main .container .box-nav > a {
  font-size: 1em;
  padding: 0.5em 1em;
}

#site-main .container form {
  margin: 2em 0;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.table td,
.table th {
  padding: 0.75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table td > a.btn {
  padding: 0.3em 1em;
  font-size: 1.1em;
  margin: 0 0.2em;
}

.table tr:hover {
  background-color: #fac1c1;
}

.table tr:hover td > a {
  box-shadow: none;
}

.table .thead-dark th {
  color: #fff;
  background-color: var(--dark);
  border-color: #32383e;
}

@media only screen and (max-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--border);
  }

  td {
    border: none;
    position: relative;
  }
}

/*  add user & update user template */
/* .form-title {
  margin-top: 2em;
}

.form-title > h2 {
  padding: 0.5em 0;
}

.new_user {
  max-width: 786px;
  margin: auto;
}

#update_user .form-group,
#add_user .form-group {
  margin: 0.4em 0;
}

#update_user .form-group input[type="text"],
#update_user .form-group input[type="tel"],
#update_user .form-group select,
#add_user .form-group select,
#add_user .form-group input[type="tel"],
#add_user .form-group input[type="text"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio {
  margin: 1em 2em;
}
/* adding style to radio buttons */
/* .radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: var(--border-btn);
  border-radius: 100%;
  border: 1px solid var(--border);
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: -0em;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #fac1c1;
  box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #fac1c1;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #e9ecef;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio-inline {
  display: inline;
  padding: 0 2rem 0 2rem;
}
#update_user .form-group .btn,
#add_user .form-group .btn {
  width: 100%;
  padding: 0.9em 1em;
  background-color: #fac1c1;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.2em;
  margin: 0.5em 0;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover {
  background-color: var(--dark);
  color: var(--border);
} */
